
h1 {
      padding: 0px;
      margin: 0px;
      font-size: 7vh;
      text-align: center;
      padding-top: 2%;
  }


#header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #fff;
    width: 86%;
    margin-left: 6%;
    margin-right: 6%;
}

.formme {
    text-algin: center;
    width: 86%;
    margin-left: 6%;
    margin-right: 6%;
    font-family: "Open Sans", Verdana, Geneva, "DejaVu Sans", sans-serif;
    height: 100%;
}

.custom-logo.attachment-full.size-full {
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
}


form {
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 19px;
}

#formcontent {
    width: 98%;
    margin-left: 1%;
    border: none;
    height: 200px;
    color: black;
}

.form {
    padding-bottom: 20px;
}

.menu {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    text-align: center;
}

#content > div 	{
    display: none;
}

#footer a {
    color: black !important;
    text-decoration: underline !important;
}
#footer {
    text-align: center;
    color: black !important;
    padding-top: 30px;
    font-size: 12px;
    visibility: hidden;
}


p {
    padding-top: 20px;
    margin-left: 1%;
}

.form-1 {
    margin-left: 1%;
    padding-bottom: 10px;
}

.g-recaptcha {
    margin-left: 1%;
}

#submit-rc {
    margin-left: 1%;
    background: white;
    border: 1px solid gray;
    box-shadow: none;
    border-radius: 0px;
    height: 30px;
    width: 100px;
    font-weight: bold;
}

.navtitle {
    display: none;
}

#info {
    color: black !important;
}

.ph-2 {
  width: 100%;
}

#innerph {
    display: table;
    margin: 0 auto;
}

div[id*='plus'] {
  max-width: 100px;
  max-height: 100px;
  width: 10vw;
  height: 10vw;
  background: #ccc;
  float: left;
  border: 2px solid #c4c4c4;
  margin: 5px;
  font-size: 7vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  display: block;
}

div[id*='neutral'] {
  max-width: 100px;
  max-height: 100px;
  width: 10vw;
  height: 10vw;
  background: #ccc;
  float: left;
  border: 2px solid #c4c4c4;
  margin: 5px;
  font-size: 7vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
div[id*='minus'] {
  max-width: 100px;
  max-height: 100px;
  width: 10vw;
  height: 10vw;
  background: #ccc;
  float: left;
  border: 2px solid #c4c4c4;
  margin: 5px;
  font-size: 7vw;
  text-align: center;
    line-height: 10vw;
      display: inline-block;
  line-height: normal;  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

div[id*="next"] {
    text-align: center;
    background: #c6ffc1;
    width: 70%;
    height: 50px;
    font-size: 3vw;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    margin-top: 5vh;
    float: left;
    border: 2px solid #8dea84;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 3vw;
}

div[id*='div_'] {
    border-radius: 10px;
    height: 100%;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 15%;
}

a:visited {
    color: #0e5108;
}
a {
    color: #0e5108;
    text-decoration-line: none;
    font-weight: bold;
}

.p2 {
    font-size: xx-large;
    width: 60%;
    font-weight: bold;
    color: #ca6868;
}

#innerspan {
  width: 80%%;
margin-top: 0px;
margin-bottom: 15vh;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 100%;
    overflow: visible;
    vertical-align: 0;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #242323;
}

#Headertext {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 80vh;
}

#content {
    height: 90vh;
}
#Headericon {
  text-align: center;
  font-size: 10vh;
  color: #ffd700;
  padding-bottom: 20px;
  padding-top: 20%;
}

#crosssign {
  border: 5px solid;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans;
}
body {
  font-family: sans;
  margin: 0px;
  overflow-x: hidden;
}

#resultbar {
    width: 100%;
    height: 40px;
    background: #ffbf00;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}

#resultbar-nazis {
    width: 100%;
    height: 40px;
    background: #ffbf00;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}


#result-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#result_partei {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin-bottom: 25px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    max-width: 98%;
}

#result_spd {
    width: 60%;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin-bottom: 25px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    padding-left: 40px;
}

#result_linke {
    width: 69%;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin-bottom: 25px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    padding-left: 40px;
}

#result_gruen {
    width: 72%;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin-bottom: 25px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    padding-left: 40px;
}

#result_cdu {
    width: 40%;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin-bottom: 25px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    padding-left: 40px;
}
#result_npd {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin-bottom: 25px;
  line-height: 40px;
}

#result_afd {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
  line-height: 40px;
}

a {
    margin-left: 10px;
}

a2 {
    float: right;
    margin-right: 10px;
}

h1 {
  font-weight: bold;
font-size: xxx-large;
}

h2 {
  color: white;
  font-weight: bold;
font-size: xxx-large;
}

#head {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#result_textbox {
    float: left;
    line-height: 40px;
    background: white;
    width: 5%;
    border-radius: 5px;
    margin-left: 2%;
}

p {
   font-size: x-large;
   font-weight: bold;
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#resultody {
    background: #ffd557;
    margin: 0px;
    padding: 0px;
    z-index: 5;
    position: absolute;
    top: 0px;
    width: 100vw;
}

#showhideresult2 {
    display: none;
}

#questions {
  display: block;
}

p3 {
    font-weight: bold;
    color: #604e4e;
    font-size: xx-large;
}
